# gitignore everything:
*

#except these specific files:
!.gitignore
!LICENSE
!README.md
!CONTRIBUTOR_LICENSE_AGREEMENT.md
!CONTRIBUTOR_README.md
!.editorconfig
!dotnet.sln

#and the content of these specific directories:
!/FF/
!/FF_Test/
!/.github/
