# gitignore everything:
*

#except these specific files:
!.gitignore
!.editorconfig
!dotnet.sln
!LICENSE
!README
!CONTRIBUTOR_LICENSE_AGREEMENT.md
!CONTRIBUTOR_README.md

#and the content of these specific directories:
!/FF/
!/FF_Test/
!/.github/
