# gitignore everything
*

# Except:

## Repo management
!.gitignore
!.editorconfig
!/.github/
!/.github/*

## Documentation
!CONTRIBUTOR_LICENSE_AGREEMENT.md
!CONTRIBUTOR_README.md
!LICENSE
!README.md

## Build system
!dotnet.sln
!/build/
!/build/*

## The FF source
!/FF/
!/FF/*
!/FF_Test/
!/FF_Test/*
